:root {
  --theme: #e11;
  --background: #eee;
  --text: #111;
  --text-alt: #444;
  color: var(--text);
  background-color: var(--background);
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color-scheme: light dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}
::selection {
  background-color: firebrick;
  color: white;
}
html,
body,
#hero {
  height: 100%;
}
body {
  margin: 0 auto;
  padding-inline: 2rem;
  max-width: 120ch;
}

#hero {
  display: grid;
  place-content: center;
}

h1 {
  position: relative;
}

h1 .name {
  position: absolute;
  font-size: max(1rem, 0.5rem + 2vw);
  color: var(--theme);
}

h1 .title {
  font-size: max(1rem, 1rem + 4vw);
  max-width: 24ch;
  line-height: 1.1;
  text-indent: 6ch;
}

#hero p {
  max-width: 50ch;
  color: var(--text-alt);
}

iframe {
  width: 100%;
  aspect-ratio: 1/1.8;
}

#courses .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
}

#courses article {
  display: flex;
  flex-flow: column nowrap;
  margin: 1em;
  padding-inline-start: 1em;
}
#courses h3 {
  display: flex;
  flex-flow: column nowrap;
}
#projects {
  grid-area: projects;
}
#community {
  grid-area: community;
}
#contact {
  grid-area: contact;
  display: flex;
  flex-flow: column nowrap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme: #b11;
    --background: #111;
    --text: #eee;
    --text-alt: #aaa;
  }
}
