:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #eee;
  background-color: #111;
  text-rendering: optimizeLegibility;
  color-scheme: light dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}
::selection {
  background-color: firebrick;
  color: white;
}
a {
  font-weight: 500;
  color: tomato;
  text-decoration: inherit;
}
a:hover {
  color: indianred;
}
a:focus {
  outline: 6px solid tomato;
}

html,
body {
  height: 100%;
}
body {
  margin: 0 auto;
  padding-inline: 2rem;
  max-width: 120ch;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

iframe {
  width: 100%;
  aspect-ratio: 1/1.8;
}

#home {
  display: grid;
  place-content: center;
  height: min(80ch, 100vh);
  text-align: center;
}

#home p {
  max-width: 40ch;
}

#tech ul {
  grid-area: tech;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28ch, 1fr));
}

#courses .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
}

#courses article {
  display: flex;
  flex-flow: column nowrap;
  margin: 1em;
  padding-inline-start: 1em;
}
#courses h3 {
  display: flex;
  flex-flow: column nowrap;
}
#projects {
  grid-area: projects;
}
#community {
  grid-area: community;
}
#contact {
  grid-area: contact;
  display: flex;
  flex-flow: column nowrap;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #111;
    background-color: #eee;
  }
  a {
    color: crimson;
  }
  a:hover {
    color: firebrick;
  }
}

